%TMPL:INCLUDE{"editjavascript"}%<!-- template: editjavascript.chapter.tmpl -->
%TMPL:DEF{"javascript"}%%TMPL:P{"defaultjavascript"}%%TMPL:P{"editjavascript"}%%TMPL:P{"chapterjavascript"}%%TMPL:END%
%TMPL:DEF{"chapterjavascript"}%<!-- chapterjavascript -->
%ADDTOZONE{"body"
  tag="EDITJAVASCRIPT::INIT"
  text="
<script type='text/javascript'>
/* to hook into patternskin */
jQuery(function($) {
  $('.patternActionButtons input').click(function() {
    beforeSubmitHandler();
  });
});
</script>"
  requires="JQUERYPLUGIN"
}%<!-- //chapterjavascript -->%TMPL:END%

