From: %WIKIWEBMASTERNAME% <%WIKIWEBMASTER%>
To: %EMAILTO%
Subject: %WIKITOOLNAME%.%WEB%.%TOPIC% - transitioned to %TARGET_STATE%
MIME-Version: 1.0
Content-Type: text/plain

%WIKINAME% has moved %WEB%.%TOPIC% to %TARGET_STATE%
