%TMPL:INCLUDE{"edit"}%
%{ Customised template for workflow transition edits. The main purpose of this
   template is to pass the extra parameters that instruct the beforeSaveHandler
   to change the topic state when it is saved. }%
%TMPL:DEF{"pagetitle"}%Changing state of %TOPIC% from %URLPARAM{"WORKFLOWCURRENTSTATE"}% to %URLPARAM{"WORKFLOWPENDINGSTATE"}%<br/><small>Action '%URLPARAM{"WORKFLOWPENDINGACTION"}%' in workflow %URLPARAM{"WORKFLOWWORKFLOW"}%</small>%TMPL:END%
%TMPL:DEF{"formtop"}%
<input type="hidden" name="WORKFLOWPENDINGACTION" value="%URLPARAM{"WORKFLOWPENDINGACTION"}%"/>
<input type="hidden" name="WORKFLOWCURRENTSTATE" value="%URLPARAM{"WORKFLOWCURRENTSTATE"}%"/>
<input type="hidden" name="WORKFLOWPENDINGSTATE" value="%URLPARAM{"WORKFLOWPENDINGSTATE"}%"/>
<input type="hidden" name="forcenewrevision" value="1"}%"/>
<input type="hidden" name="WORKFLOWWORKFLOW" value="%URLPARAM{"WORKFLOWWORKFLOW"}%"/>%TMPL:END%