%TMPL:DEF{"htmldoctype"}%%TMPL:END%
%TMPL:DEF{"head"}%%TMPL:END%
%TMPL:DEF{"bodystart"}%%TMPL:END%
%TMPL:DEF{"main"}%%TMPL:END%
%TMPL:DEF{"bodyend"}%%TMPL:END%
%TMPL:DEF{"head"}%</head>%RENDERHEAD%%TMPL:END%
%TMPL:DEF{"body"}%</body>%TMPL:END%
%TMPL:INCLUDE{"HijaxPlugin"}%
%TMPL:P{"hijax"}%