%TMPL:INCLUDE{"view"}%
%TMPL:INCLUDE{"ajaxbase"}%
%TMPL:DEF{context}%view%TMPL:END%
%TEMPLATE:revisions%
%REVISIONS%
%TEMPLATE:queryparamstring%
%QUERYPARAMSTRING%
%TEMPLATE:revtitle%
%REVTITLE%
%TEMPLATE:revarg%
%REVARG%